<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

<HTML>
  <HEAD>
    <BASE TARGET="_top">
<!-- It's incorrect HTML to have a BASE tag without an HREF parameter in it,
     but who cares!  When alpha7's web server goes weird, using alpha1's is
     precluded if HREF="http://student.curtin.edu.au/~eirvine/" is present. -->
    <TITLE>Alastair Irvine's Home Page</TITLE>
  </HEAD>


  <frameset cols="150,*">

    <NOFRAMES>
      <BODY>
	<H1>Alastair Irvine's Home Page, no frames version</H1>
	<a href="frames/home/"><img src="frames/b_home.gif" alt="Home" height="26" width="100"></a><br>
	<a href="frames/friends/"><img src="frames/b_friends.gif" alt="Friends" height="26" width="100"></a><br>
	<a href="frames/netsearch/"><img src="frames/b_search.gif" alt="Search" height="26" width="100"></a><br>
	<a href="frames/graphics/"><img src="frames/b_graphics.gif" alt="Graphics" height="26" width="100"></a><br>
	<a href="frames/music/"><img src="frames/b_music.gif" alt="Music" height="26" width="100"></a><br>
	<a href="frames/news/"><img src="frames/b_news.gif" alt="News" height="26" width="100"></a><br>
	<a href="frames/humour/"><img src="frames/b_humour.gif" alt="Humour" height="26" width="100"></a><br>
	<a href="frames/games/"><img src="frames/b_games.gif" alt="Games" height="26" width="100"></a><br>
	<a href="frames/tv-n-movies/"><img src="frames/b_tv-n-movies.gif" alt="TV and Movies" height="26" width="100"></a><br>
	<a href="frames/other/"><img src="frames/b_other.gif" alt="Other" height="26" width="100"></a><br>
  	<table border="2">
  	  <tr>
  	    <th>Computer...</th>
  	  </tr>
  	  <tr>
  	    <td>
  	      <a href="frames/hardware/"><img src="frames/b_hardware.gif" alt="Hardware" height="26" width="100"></a><br>
  	      <a href="frames/software/"><img src="frames/b_software.gif" alt="Software" height="26" width="100"></a><br>
  	      <a href="frames/os/"><img src="frames/b_os.gif" alt="OSes" height="26" width="100"></a><br>
  	      <a href="frames/coding/"><img src="frames/b_coding.gif" alt="Coding" height="26" width="100"></a><br>
  	      <a href="frames/networks/"><img src="frames/b_networks.gif" alt="Networks" height="26" width="100"></a><br>
  	      <a href="frames/security/"><img src="frames/b_security.gif" alt="Security" height="26" width="100"></a><br>
  	    </td>
  	  </tr>
  	</table>
      </BODY>
    </NOFRAMES>

    <frame NORESIZE NOSCROLL name=buttons src="frames/menu.html">
    <frame name=main src="frames/home/">
  </frameset>
                           
</HTML>
