<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  
  
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Machine list</title>

  

  

  
  
  
  
  <meta content="Alastair Irvine" name="author">



    
  
  
  <style type="text/css">
      <!--
        .machine__in_use      { color: green; }
	.machine__broken      { color: red; }
	.machine__incomplete  { color: purple; }
        .rackmount { color: blue; }
      // -->
    </style></head>
<body>
<h1>List of machines at</h1>



Current as at XXX<br>



List compiled by: .<br>



<br>



<table style="width: 100%;" border="1" cellpadding="2" cellspacing="2">




  <tbody>
    <tr>
      <th style="vertical-align: top;">Name
      </th>
      <th style="vertical-align: top;">Location<br>
      </th>
<th style="vertical-align: top;">Purpose
      </th>
      <th style="vertical-align: top;">Make
      </th>
      <th style="vertical-align: top;">Model
      </th>
      <th colspan="2" style="vertical-align: top;">Processor(s)
      </th>
      <th style="vertical-align: top;">Mem.
      </th>
      <th style="vertical-align: top;">HDD(s)
      </th>
      
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;"><br>
      </td>
<td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;"><br>
      </td>
<td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;"><br>
      </td>
<td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;"><br>
      </td>
<td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      <td style="vertical-align: top;">
      <br>
</td>
      
    </tr>
  </tbody>
</table>



<h2>Key</h2>



<span class="machine__in_use">in use</span>, <span class="machine__working">working</span>, <span class="machine__broken">not working</span>, <span class="machine__incomplete">some components missing</span><span class="machine__incomplete"></span><br>


Processor: dual = dual core, <span style="font-style: italic;">number </span>= separate CPUs,<br>

&nbsp;<span style="font-style: italic;">no letter</span> = Intel Pentium, A = AMD Athlon, D = AMD Durion, X = Intel Xeon 
<h2>Details<br>
</h2>



Network Adaptor<br>



Removable Media Drive<br>



Hardware Extras<br>



Operating System<br>



Software<br>



other info<br>



<h3>Status</h3>



Software problems<br>



Faults<br>



missing components<br>



<br>





</body></html>