[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=No name
Type=Link
URL=http://
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=web link
GenericName[en_AU]=
Comment[en_AU]=
Icon=/usr/share/pixmaps/gnome-html.png
